apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: myAppSet
  namespace: argocd
spec:
  generators:
    - list:
        elements:
        - name: app1
          path: dev/charts/app1
          namespace: app1
        - name: app2
          path: dev/charts/app2
          namespace: app2
    
  template:
    metadata:
      name: '{{name}}'
    spec:
      project: default

      source:
        repoURL: https://github.com/Rupagowthaman/Test-Argocd.git
        targetRevision: HEAD
        path: dev
        helm:
          valueFiles:
            - values.yaml
      destination:
        server: https://kubernetes.default.svc
        namespace: '{{namespace}}'

      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
          - CreateNamespace=true