apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.appName }}-svc
spec:
  selector:
    app.kubernetes.io/name: {{ .Values.appName }}
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
